<template>
  ...
  <div class="list-reset">
    <div
      class="task"
      v-for="(task, $taskIndex) of column.tasks"
      :key="$taskIndex"
      @click="goToTask(task)"
    >
      ...
    </div>

    <input
      type="text"
      class="block p-2 w-full bg-transparent"
      placeholder="+ Enter new task"
      @keyup.enter="createTask($event, column.tasks)"
    />
  </div>
  ...
